body {
	background-color:#F8F8F8!important;
}

#profile-wrapper {
	text-align: center;
}

.social-links li {
	padding: 0;
	list-style-type:none;
	display: inline-block;
}

.social {
	width:23px;
	height: 23px;
}
